
/****************navigation******************/
.right-container{
    .Custom-right-navigation {
        display: flex;
        justify-content: space-between;
        border-bottom: 1px solid var(--theme-color-light-x);
        padding: 16px 20px;
        align-items: center;
        background-color: var(--theme-color-light);
        .left-side-flex{
            form{
                .flex-custom-form{
                    background-color: var(--theme-color-light-x);
                    width: 400px;
                    position: relative;
                    &>input{
                        border: none;
                        background: var(--theme-color-light-x);
                        box-shadow: none;
                        padding: 11px 0 11px 25px;
                        width: 100%;
                        color: #1f2f3e;
                        letter-spacing: .4px;
                        line-height: 1.4;
                    }
                    &>button{
                        position: absolute;
                        right: 25px;  
                        background-color: var(--theme-color-light-x);
                        border: none; 
                        top: 50%;
                        transform: translateY(-50%);  
                        color: #a9a9ad;           
                    }
                }
            }
        }
        .right-side-flex{
            ul.nav-icons{
                display: flex;
                list-style: none;
                align-items: center;
                li{
                    cursor: pointer;
                        display: inline-block;
                        padding: 9px 14px;
                        position: relative;
                    &:not(:last-child){
                        border-right: 1px solid #ecf3fa;
                    }
                    &:last-child{
                        &.profile-nav{
                            .admin-detail{
                                display: flex;
                                align-items: center;
                                column-gap: 10px;
                                &>img{
                                    @include adminImage;
                                }
                            }
                        }
                    }
                }
            }
        }
        }
    .custom-breadcrumb{
        padding: 16px 20px;
            background-color: var(--theme-color-light);
            display: flex;
            justify-content: space-between;
        h3{
            line-height: 1.2;
            letter-spacing: .5px;
            color: #1f2f3e;
        }
        ul.custom-header-breadcrumb {
            display: flex;
            justify-content: flex-end;
            list-style: none;
            li{
                a{
                    padding: 9px 14px;
                    font-size: 14px;
                    color: var(--font-color);
                }
            }
        }
    }
    }
